<!-- //////////////Code cho màn hình 1////////////// -->
<div id="screen_3DtramTQ">
    <div class="grid wide">
        <div class="row column-reverse">
            <div class="col l-12 m-12 c-12">
                <canvas class="_3dHome"></canvas>
            </div>
        </div>
    </div>
</div>