<!-- //////////////Code cho màn hình 2////////////// -->
<div id="Screen_2">
</div>
<script>
    let width = screen.width;
    console.log(width);
    if (width < 580) {
        width = width - 72
    } else {
        width = width - 215
    }
    document.getElementById("Screen_2").style.width = width
</script>
<script type="module" src="render3D/JS/indexScreen.js" defer="defer"></script>