<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row">
                    <div class="col-md-12 col-xl-4">
                        <div class="box">
                            <div class="box-header">
                                <h3>Your tasks</h3>
                                <small>Calculated in last 7 days</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center b-t">
                                <div class="row-col">
                                    <div class="row-cell p-a">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="55"
                                                ui-options="{
  	                      lineWidth: 15,
  	                      trackColor: 'rgba(0,0,0,0.05)',
  	                      barColor: '#0cc2aa',
  	                      scaleColor: 'transparent',
  	                      size: 100,
  	                      scaleLength: 0,
  	                      animate:{
  	                        duration: 3000,
  	                        enabled:true
  	                      }
  	                    }">
                                                <div>
                                                    <h5>55%</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            Finished
                                            <small class="block m-b">320</small>
                                            <a href class="btn btn-sm white rounded">Manage</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a dker">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="45"
                                                ui-options="{
  	                      lineWidth: 15,
  	                      trackColor: 'rgba(0,0,0,0.05)',
  	                      barColor: '#fcc100',
  	                      scaleColor: 'transparent',
  	                      size: 100,
  	                      scaleLength: 0,
  	                      animate:{
  	                        duration: 3000,
  	                        enabled:true
  	                      }
  	                    }">
                                                <div>
                                                    <h5>45%</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            Remaining
                                            <small class="block m-b">205</small>
                                            <a href class="btn btn-sm white rounded">Manage</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="box">
                            <div class="box-header">
                                <h3>Your projects</h3>
                                <small>Calculated in last 30 days</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div ui-jp="chart" ui-options=" {
                      tooltip : {
                          formatter: '{a} <br/>{b} : {c}%'
                      },
                      series : [
                          {
                              name:'Task',
                              type:'gauge',
                              radius : '100%',
                              detail : {formatter:'{value}%'},
                              data:[{value: 10}],
                              axisTick: {
                                length :20,
                              },
                              axisLine: {
                                lineStyle: {
                                width: 16
                                }
                              },
                          }
                      ]
                    }" style="height:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="box">
                            <div class="box-header">
                                <h3>Your Sales</h3>
                                <small>A general overview of your sales</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div ui-jp="chart" ui-options="{
                        tooltip : {
                            formatter: '{a} <br/>{c} {b}'
                        },
                        series : [
                            {
                                name:'Gas',
                                type:'gauge',
                                center : ['50%', '50%'],
                                radius : '80%',
                                min:0,
                                max:2,
                                startAngle:135,
                                endAngle:45,
                                splitNumber:2,
                                axisLine: {
                                    lineStyle: {
                                        color: [[0.2, '#ff4500'],[0.8, '#48b'],[1, '#228b22']],
                                        width: 13
                                    }
                                },
                                axisTick: {
                                    splitNumber:5,
                                    length :19,
                                    lineStyle: {
                                        color: 'auto'
                                    }
                                },
                                axisLabel: {
                                    formatter:function(v){
                                        switch (v + '') {
                                            case '0' : return 'E';
                                            case '1' : return 'Gas';
                                            case '2' : return 'F';
                                        }
                                    }
                                },
                                splitLine: {
                                    length :15,
                                    lineStyle: {
                                        color: 'auto'
                                    }
                                },
                                pointer: {
                                    width:5
                                },
                                title : {
                                    show: false
                                },
                                detail : {
                                    show: false
                                },
                                data:[{value: 0.5, name: 'gas'}]
                            },
                            {
                                name:'Water',
                                type:'gauge',
                                center : ['50%', '50%'],
                                radius : '90%',
                                min:0,
                                max:2,
                                startAngle:315,
                                endAngle:225,
                                splitNumber:2,
                                axisLine: {
                                    lineStyle: {
                                        color: [[0.2, '#ff4500'],[0.8, '#48b'],[1, '#228b22']],
                                        width: 10
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    formatter:function(v){
                                        switch (v + '') {
                                            case '0' : return 'H';
                                            case '1' : return 'Water';
                                            case '2' : return 'C';
                                        }
                                    }
                                },
                                splitLine: {
                                    length :15,
                                    lineStyle: {
                                        color: 'auto'
                                    }
                                },
                                pointer: {
                                    width:3
                                },
                                title : {
                                    show: false
                                },
                                detail : {
                                    show: false
                                },
                                data:[{value: 0.5, name: 'gas'}]
                            }
                        ]
                    }" style="height:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="box">
                            <div class="box-header">
                                <h3>Bảng quan sát</h3>
                                <small>Calculated in last 7 days</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center b-t">
                                <div class="row-col">
                                    <div class="row-cell p-a">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="55"
                                                ui-options="{
    	                      lineWidth: 15,
    	                      trackColor: 'rgba(0,0,0,0.05)',
    	                      barColor: '#0cc2aa',
    	                      scaleColor: 'transparent',
    	                      size: 100,
    	                      scaleLength: 0,
    	                      animate:{
    	                        duration: 3000,
    	                        enabled:true
    	                      }
    	                    }">
                                                <div>
                                                    <h5>55°C</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Nhiệt độ trạm 1</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a dker">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="45"
                                                ui-options="{
                	                      lineWidth: 15,
                	                      trackColor: 'rgba(0,0,0,0.05)',
                	                      barColor: '#fcc100',
                	                      scaleColor: 'transparent',
                	                      size: 100,
                	                      scaleLength: 0,
                	                      animate:{
                	                        duration: 3000,
                	                        enabled:true
                	                      }
                	                    }">
                                                <div>
                                                    <h5>45%</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Độ ẩm trạm 1</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="55"
                                                ui-options="{
                	                      lineWidth: 15,
                	                      trackColor: 'rgba(0,0,0,0.05)',
                	                      barColor: '#0cc2aa',
                	                      scaleColor: 'transparent',
                	                      size: 100,
                	                      scaleLength: 0,
                	                      animate:{
                	                        duration: 3000,
                	                        enabled:true
                	                      }
                	                    }">
                                                <div>
                                                    <h5>55°C</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Nhiệt độ trạm 2</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a dker">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="45"
                                                ui-options="{
                                lineWidth: 15,
                                trackColor: 'rgba(0,0,0,0.05)',
                                barColor: '#fcc100',
                                scaleColor: 'transparent',
                                size: 100,
                                scaleLength: 0,
                                animate:{
                                  duration: 3000,
                                  enabled:true
                                }
                              }">
                                                <div>
                                                    <h5>45%</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Độ ẩm trạm 2</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="55"
                                                ui-options="{
                	                      lineWidth: 15,
                	                      trackColor: 'rgba(0,0,0,0.05)',
                	                      barColor: '#0cc2aa',
                	                      scaleColor: 'transparent',
                	                      size: 100,
                	                      scaleLength: 0,
                	                      animate:{
                	                        duration: 3000,
                	                        enabled:true
                	                      }
                	                    }">
                                                <div>
                                                    <h5>55°C</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Nhiệt độ trạm 3</a>
                                        </div>
                                    </div>
                                    <div class="row-cell p-a dker">
                                        <div class="inline m-b">
                                            <div ui-jp="easyPieChart" class="easyPieChart"
                                                ui-refresh="app.setting.color" data-redraw='true' data-percent="45"
                                                ui-options="{
    	                      lineWidth: 15,
    	                      trackColor: 'rgba(0,0,0,0.05)',
    	                      barColor: '#fcc100',
    	                      scaleColor: 'transparent',
    	                      size: 100,
    	                      scaleLength: 0,
    	                      animate:{
    	                        duration: 3000,
    	                        enabled:true
    	                      }
    	                    }">
                                                <div>
                                                    <h5>45%</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a href class="btn btn-sm white rounded">Độ ẩm trạm 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3>Stats</h3>
                                <small>Your data status</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div ui-jp="chart" ui-options=" {
                              tooltip : {
                                  trigger: 'axis'
                              },
                              legend: {
                                  data:['Nhiệt độ dầu']
                              },
                              calculable : true,
                              xAxis : [
                                  {
                                      type : 'category',
                                      boundaryGap : false,
                                      data : ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
                                  }
                              ],
                              yAxis : [
                                  {
                                      type : 'value',
                                      axisLabel : {
                                          formatter: '{value} °C'
                                      }
                                  }
                              ],
                              series : [
                                  {
                                      name:'Nhiệt độ dầu',
                                      type:'line',
                                      data:[21, 21, 25, 23, 22, 18, 23],
                                      markPoint : {
                                          data : [
                                              {type : 'max', name: 'Lớn nhất'},
                                              {type : 'min', name: 'Nhỏ nhất'}
                                          ]
                                      },
                                      markLine : {
                                          data : [
                                              {type : 'average', name: 'Trung bình'}
                                          ]
                                      }
                                  }
                              ]
                            }" style="height:300px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3>Stats</h3>
                                <small>Your data status</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div ui-jp="chart" ui-options=" {
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['Nhiệt độ dầu']
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                boundaryGap : false,
                                data : ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                axisLabel : {
                                    formatter: '{value} °C'
                                }
                            }
                        ],
                        series : [
                            {
                                name:'Nhiệt độ dầu',
                                type:'line',
                                data:[21, 21, 25, 23, 22, 18, 23],
                                markPoint : {
                                    data : [
                                        {type : 'max', name: 'Lớn nhất'},
                                        {type : 'min', name: 'Nhỏ nhất'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: 'Trung bình'}
                                    ]
                                }
                            }
                        ]
                      }" style="height:300px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3>Stats</h3>
                                <small>Your data status</small>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <i class="material-icons md-18">&#xe5d4;</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item" href>This week</a>
                                            <a class="dropdown-item" href>This month</a>
                                            <a class="dropdown-item" href>This week</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Today</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div ui-jp="chart" ui-options=" {
                      tooltip : {
                          trigger: 'axis'
                      },
                      legend: {
                          data:['Lượng phôi lỗi','Lượng phôi đạt']
                      },
                      calculable : true,
                      xAxis : [
                          {
                              type : 'category',
                              data : ['T1','T2','T3','T4','T5','T6','T7','T8','T9','T10','T11','T12']
                          }
                      ],
                      yAxis : [
                          {
                              type : 'value'
                          }
                      ],
                      series : [
                          {
                              name:'Lượng phôi lỗi',
                              type:'bar',
                              data:[36, 56, 17, 23, 25, 16, 35, 12, 12, 20, 16, 13],
                              markPoint : {
                                  data : [
                                      {type : 'max', name: 'Lớn nhất',symbolSize:12},
                                      {type : 'min', name: 'Nhỏ nhất',symbolSize:12}
                                  ]
                              },
                              markLine : {
                                  data : [
                                      {type : 'average', name: 'Trung bình'}
                                  ]
                              }
                          },
                          {
                              name:'Lượng phôi đạt',
                              type:'bar',
                              data:[120, 168, 190, 126, 128, 170, 188, 199, 148, 118, 116, 192],
                              markPoint : {
                                  data : [
                                      {type : 'max', name: 'Lớn nhất',symbolSize:12},
                                      {type : 'min', name: 'Nhỏ nhất',symbolSize:12}
                                  ]
                              },
                              markLine : {
                                  data : [
                                      {type : 'average', name : 'Trung bình'}
                                  ]
                              }
                          }
                      ]
                    }" style="height:360px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->