<aside class="sidebar">
    <header class="sidebar-header">
        <img class="logo-img" src="images/TAO-EXPERT-EPERIENCE-GIF-67x67.gif" />
    </header>
    <nav>
        <a href="/">
            <span>
                <i class="uil uil-estate"></i>
                <span>Home</span>
            </span>
        </a>
        <a href="/tramTQ" >
            <span>
                <i class="uil uil-servers"></i>
                <span>3D Trạm</span>
            </span>
        </a>
        <a href="/tram1">
            <span>
                <i class="uil uil-stretcher">
                    <span>1</span>
                </i>
                <span>Trạm 1</span>
            </span>
        </a>
        <a href="/tram2">
            <span>
                <i class="uil uil-stretcher">
                    <span>2</span>
                </i>
                <span>Trạm 2</span>
            </span>
        </a>
        <a href="/tram3">
            <span>
                <i class="uil uil-stretcher">
                    <span>3</span>
                </i>
                <span>Trạm 3</span>
            </span>
        </a>
        <a href="/CSDL">
            <span>
                <i class="uil uil-book"></i>
                <span>CSDL</span>
            </span>
        </a>
        <!-- <a href="/" >
            <span>
                <i class="uil uil-location-arrow">
                    <span>1</span>
                </i>
                <span>Messages</span>
            </span>
        </a>
        <a>
            <span>
                <i class="uil uil-heart">
                    <em></em>
                </i>
                <span>Notifications</span>
            </span>
        </a> -->
        <button id="buttonLastChild">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">
                    <span type="submit">
                        <i class="uil uil-sign-out-alt"></i>
                        <span>Log out</span>
                    </span>
                </button>
            </form>
        </button>
    </nav>
</aside>