<html>
    <!-- Phần Header của Website -->
    <%- include('./partials/header'); %>
    <!-- Phần thân của website -->
    
    <body>
        <%- include('./partials/sidebar'); %>
        <!-- //////////////Code cho màn hình chính////////////// -->
        <%- include('./partials/screen_Main'); %>
        <!-- //loading -->
        <div class="loadingio-spinner-double-ring-nzbwkaq6i3" id ="hiden-loading"><div class="ldio-58h4ty3tidc"><div></div><div></div><div><div></div></div><div><div></div></div></div></div>
    </body>
    <link rel="stylesheet" href="CSS/screen_main.css">
    <script src="js/FC3_MainScreen.js" defer="defer"></script>
</html>