<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="CSS/login.css">
    </head>
    <body>
        <div class="login-card">
            <h2>Login</h2>
            <h3>Enter your credentials</h3>
            <form class="login-form" action="/login" method="POST">
                <input spellcheck="false" class="control" type="email" id="email" name="email" required placeholder="Email" />
                <div class="password">
                    <input spellcheck="false" class="control" id="password" type="password" name="password" required placeholder="Password" />
                    <button class="toggle" type="button" onclick="togglePassword(this)"></button>
                </div>
                <button class="control" type="submit">LOGIN</button>
            </form>
            <div class="login-error">
                <% if (messages.error) { %> <%= messages.error %> <% } %>
            </div>
        </div>
        <a href="/register">Register</a>
        <script type="text/javascript">
            const togglePassword = (button) => {
                button.classList.toggle("showing");
                const input = document.getElementById("password");
                input.type = input.type === "password" ? "text" : "password";
            };
        </script>
    </body>
</html>