<html>
    <!-- Phần Header của Website -->
    <%- include('./partials/header'); %>

    <!-- Phần thân của website -->
    <body>
        <%- include('./partials/sidebar'); %>
        <!-- //////////////Code cho màn hình 1////////////// -->
        <%- include('./partials/screen_1'); %>
        <!-- //loading -->
        <!-- <button id="btt_click" style="position: absolute; left: 220px;">click</button> -->
        <div class="loadingio-spinner-double-ring-nzbwkaq6i3" id ="hiden-loading"><div class="ldio-58h4ty3tidc"><div></div><div></div><div><div></div></div><div><div></div></div></div></div>
    </body>
    <script src="js/FC4_Screen1.js"></script>
    <script type="module" src="render3D/JS/index3DScreen1.js" defer="defer"></script>
</html>