
/*Màn hình 1*/
#screen_3DtramTQ {
    background-color: #9a9a9a;
    margin-left: 220px;
    height: 100%;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
._3dHome {
    margin-block: 10px;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* mobile */
@media (max-width: 739px) {
    #screen_3DtramTQ {
        margin-left: 73px;
    }
}

/* tablet */
@media (min-width: 1239px) {
    #screen_3DtramTQ {
        height: 100%;
    }
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */